{% include base_path %}

<!-- start custom head snippets -->
<!-- <meta name="description" content="Chenyu Zhang's Homepage."> -->
<!-- <meta name="author" content="Chenyu Zhang"> -->
<meta name="keywords" content="Columbia, Fudan, Homepage, Optimization, Reinforcement Learning, Deep Learning, Machine Learning" />
<meta name="google-site-verification" content="fl5Ut1CffHPuC4r6IB7OQKTtr2FWx8C_jiyIOtqpdhY" />
<meta name="google-site-verification" content="1AMLnAkWbUcgIdrhs5zqNF2t-bWgtm9BaWeaU9R1yLQ" />
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" -->
	<!-- integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" -->
	<!-- crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
<link rel="shortcut icon" type="image/x-icon" href="assets/salt.ico">
<link rel="canonical" href="https://zcysxy.github.io">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-192x192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="/images/favicon.ico"/>
<meta name="theme-color" content="#ffffff"/>

<!-- end custom head snippets -->
