body {
  margin: 60px auto;
  width: 70%;
  max-width: 1000px;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  background-color: #eee;
}

h1 {
  font-size: 2em;
  font-family: "Helvetica", "Arial", "Sans-Serif";
  margin-left: 5px;
}

h3 {
  margin-bottom: 0;
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pic {
  max-width: 30%;
  max-height: 200px;
  margin: 0 0 0 5%;
}

.pic img {
  width: auto;
  height: auto;
  max-height: inherit;
  max-width: 100%;
}

@media (max-width: 800px) {
  body {
    width: 95%;
  }
  .pic {
    display: none;
  }
}
@media (max-width: 500px) {
  body {
    font-size: 4vw;
  }
}

.intro .text div:not(.name) {
  margin: 0.3em 0 0.3em 0.3em;
}

ul {
  padding-left: 1.5em;
}

/* Publications */
ul.pub {
  list-style: none;
  padding-left: 0;
}
ul.pub li {
  border: 1px solid #aaa;
  border-radius: 15px;
  margin: 10px 0 10px 0;
  display: flex;
  position: relative;
  align-items: center;
  height: 200px;
  width: 100%;
}
ul.pub li a.title {
  font-size: 1.2rem;
}
/* @media (max-width: 1000px) { */
/*     ul.pub li { */
/*         height: 200px; */
/*     } */
/* } */
ul.pub li > img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  min-width: 30%;
  max-width: 30%;
  object-fit: cover;
  height: 100%;
}
ul.pub li > img:hover {
  cursor: pointer;
}
ul.pub li p {
  margin: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (max-width: 500px) {
  ul.pub li {
    flex-direction: column;
    height: 400px;
  }
  ul.pub li > img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    width: 100%;
    max-width: unset;
    height: unset;
    max-height: 200px;
    min-height: 200px;
  }
}

.contact ul,
.project-list ul {
  margin-top: 1.5em;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0.3em;
}

.contact ul li {
  margin: 0.3em 0 0.3em 0;
}

.contact ul li i,
.project-list ul li i {
  margin-right: 0.3em;
  width: 1em;
}

a {
  text-decoration: none;
  color: rgb(0, 167, 130);
}
a:hover {
  text-decoration: underline;
}

hr {
  border-width: 1.5px 0 0 0;
  border-color: #aaa;
  border-style: solid;
  margin-top: 1em;
}

.sec-link {
  /* font-weight: bold; */
  font-size: 18px;
}

p,
li {
  font-size: 1em;
  line-height: 1.4em;
  color: #333;
}

span.nodeLabel {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.94em;
  font-weight: bold;
  width: 100%;
}

.status {
  color: #777;
}

.project-list ul li {
  margin-top: 1em;
}

/****/

nav ul,
footer ul {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li,
footer ul li {
  display: inline;
  margin-right: 20px;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: 0.8em;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

code a i {
  position: relative;
  bottom: -2px;
}

code.date {
  background-color: light#aaa;
  border-radius: 4px;
	font-size: 0.8em;
  padding: 0.1em 0.25em;
  -webkit-box-decoration-break: clone;
}

.flow-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 1%;
}

.flow-row-item {
	flex: 1 1 21%;
	margin: 0 0 1em;
	border-radius: 15px;
	border: 1px solid #aaa;
	padding: 1%;
	max-width: 25%;
}
.flow-row-item img {
	width: 95%;
  margin: 0 2.5%;
	/* margin-left: auto; */
	text-align: center;
}

.flow-row-item .caption {
	text-align: center;
}
.flow-row-item .caption span {
	display: block;
	/* margin: 0.5em auto; */
	padding: 5px;
	position: relative;
}
.flow-row-item .caption :not(:last-child) {
	border-bottom: 1px solid #ddd;
	border-image: linear-gradient(to right, rgba(0,0,0,0), #ddd 40%, #ddd 60%, rgba(0,0,0,0) 100%) 1;
}

@media (max-width: 600px) {
	.flow-row-item {
		flex: 1 1 45%;
		max-width: 50%;
	}
}

@media (max-width: 400px) {
	.flow-row-item {
		flex: 1 1 95%;
	}
}

.mermaid {
	text-align: center;
}

